* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.middlediv {
    background-color: #fff;
}

.innerdiv {
    margin: 0 auto;
    width: 91%;
}

.navigation {
    background-color: #000000e6;
    padding: 26px 0px;
}

.stylenavigation {
    margin: 0 auto;
    width: 92%;
}

.navigationlink1 {
    color: #808080d9;
    font-size: 17px;
    float: left;
    margin-top: -21px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.navigationlink2 {
    color: #808080d9;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    margin-top: -19px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.navigationlink3 {
    color: #808080d9;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    margin-top: -19px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.navigationlink4 {
    color: #808080d9;
    font-size: 15px;
    float: left;
    margin-left: 10px;
    margin-top: -19px;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

.styleheadingpara {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9e9e9e24;
}

.pstyle {
    display: inline;
    color: #808080;
    font-size: 22px;
    font-family: sans-serif;
}

.hstyle {
    font-size: 35px;
    color: #000000b8;
    font-family: sans-serif;
    margin-top: 47px;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    margin-right: 5px;
}

.firstrow {
    width: 100%;
    margin-top: 18px;
}

.rpadding {
    padding-left: 0px;
    padding-right: 20px;
}

.lpadding {
    padding-left: 20px;
    padding-right: 0px;
}

.rlpadding {
    padding-left: 10px;
    padding-right: 10px;
}

.frstdiv1 {
    padding-bottom: 30px;
    float: left;
    width: calc(100% / 3);
}

.imgstyle {
    width: 100%;
}

.headingstyle {
    font-size: 23px;
    color: #188abe;
    margin-top: 14px;
    font-family: sans-serif;
    font-weight: 200;
}

.paragraphstyle {
    font-size: 15px;
    color: #00000099;
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: 200;
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    clear: both;
    border-top: 1px solid #9e9e9e24;
}

.copyright {
    padding-top: 50px;
    padding-bottom: 80px;
}

.bottom {
    padding-bottom: 47px;
}

@media only screen and (max-width:430px) {
    .rpadding {
       padding-right:2px;
    }
    
    .lpadding {
        padding-left:2px
    }
    
    .rlpadding {
        padding-right: 1px;
        padding-left: 1px;
    }
    .hstyle {
        font-size: 27px;
        margin-top: 28px;
    }
    .pstyle {
        font-size: 18px;
     }
     .headingstyle {
        font-size: 18px;
        margin-top: 11px;
    }
    .paragraphstyle {
        font-size: 10px;
        padding-top: 6px;
    }
    .navigation {
        padding: 20px 0px;
    }
    .navigationlink1 {
        font-size: 14px;
    }
    .navigationlink2 {
        font-size: 12px;
    }
    .navigationlink3 {
        font-size: 12px;
    }
    .navigationlink4 {
        font-size: 12px;
    }

    @media only screen and (max-width:360px) 
     {
        .hstyle {
            font-size: 25px;
        }
        .pstyle {
            font-size: 18px;
         }
         .headingstyle {
            font-size: 18px;
            margin-top: 11px;
        }
        .paragraphstyle {
            font-size: 10px;
            padding-top: 6px;
        }
        .frstdiv1 {
            padding-bottom: 30px;
            display: contents;
        }
     }
}
